*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#e0d4a3;
}

.container{
    position:relative;
    width:900px;
    height:550px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.25);
}

/* Formulários */

.form-container{
    position:absolute;
    top:0;
    width:60%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.6s ease-in-out;
}

.form-container form{
    width:80%;
    text-align:center;
}

.login{
    left:40%;
    z-index:2;
}

.register{
    left:40%;
    opacity:0;
    z-index:1;
}

.container.active .login{
    opacity:0;
    z-index:1;
}

.container.active .register{
    opacity:1;
    z-index:5;
}

.icon{
    width:80px;
    height:80px;
    margin:auto;
    margin-bottom:20px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    color:white;
    background:linear-gradient(135deg,#316a21,#90b040);
}

h2{
    color:#d6bb50;
    margin-bottom:25px;
}

.input-box{
    display:flex;
    align-items:center;
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
    padding:10px;
}

.input-box i{
    margin-right:10px;
    color:#999;
}

.input-box input{
    width:100%;
    border:none;
    outline:none;
}

form button{
    border:none;
    padding:12px 35px;
    border-radius:30px;
    background: #37b880;
    color:white;
    cursor:pointer;
    transition:.3s;
}

form button:hover{
    background:#054c3f;
}

/* Botão Voltar */
.btn-voltar{
    position:absolute;
    top:20px;
    left:20px;

    width:45px;
    height:45px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:white;
    color:#199b5a;

    border-radius:50%;
    text-decoration:none;
    font-size:20px;

    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

.btn-voltar:hover{
    transform:scale(1.1);
}

/* Painel Rosa */

.overlay{
    position:absolute;
    left:0;
    top:0;
    width:40%;
    height:100%;
    background:linear-gradient(
    135deg,
    #e0d4a3,
    #978642,
    #e7bfd5);
    z-index:10;
    transition:.6s ease-in-out;
}

.overlay::before{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    background:rgba(255,255,255,.15);
    transform:rotate(45deg);
    left:-150px;
}

.overlay::after{
    content:"";
    position:absolute;
    width:250px;
    height:250px;
    background:rgba(255,255,255,.1);
    transform:rotate(45deg);
    left:-60px;
}

.container.active .overlay{
    left:60%;
}

.overlay-content{
    height:100%;
    position:relative;
}

.panel{
    position:absolute;
    width:100%;
    height:100%;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.panel h2{
    color:white;
}

.panel button{
    margin-top:20px;
    padding:12px 30px;
    border:none;
    border-radius:30px;
    background:white;
    color:#66b786;
    cursor:pointer;
    font-weight:bold;
}

.register-panel{
    opacity:0;
}

.container.active .register-panel{
    opacity:1;
}

.container.active .login-panel{
    opacity:0;
}

@media(max-width:768px){

    .container{
        width:95%;
        height:auto;
        min-height:700px;
    }

    .overlay{
        display:none;
    }

    .form-container{
        width:100%;
        left:0;
    }
}