@font-face {
    font-family:'Utendo';
    src:  url('Utendo-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'UtendoBold';
    src:  url('Utendo-Bold.ttf') format('truetype');

}

body{
    background-color: #f7f4d9;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.15));
}

.hotel-icon {
    margin-top: -15px;
    margin-right: -230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    position: relative;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.15));
}

.cachoeira-icon {
    margin-top: -15px;
    margin-right: -220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    position: relative;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.15));
}

.nós-icon {
    margin-top: -15px;
    margin-right: -210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    position: relative;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.15));
}

.comida-icon {
    margin-top: -15px;
    margin-right: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    position: relative;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.15));
}

.cabeçario {
    background: #e0d4a3;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    height: 90px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 90px;
  display: flex;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

ul li a{
    margin-top: 50px;
    height: 80px;
    width: 100px;
    font-family: 'Utendo';
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

 a :hover {
    color:#697240;

}